section#mainSection{
    width: 90%;
    display: flex;
}

#mainSection > a {
    width: 24%;
    margin-right: 1%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainSection > a > div > div {
    width: 30%;
    height: 30%;
    text-align: center;
}

#mainSection > a {
    text-decoration: none;
    color: black;
}

#mainSection > #cpu {
    background-image: url("../pepeJAM.gif");
}

#mainSection > #mem {
    background-image: url("../pepeHack.gif");
}

#mainSection > #mb {
    background-image: url("../pepeSad.gif");
}

#mainSection > #hdd {
    background-image: url("../pepe.gif");
}

#mainSection > #cpu,
#mainSection > #mem,
#mainSection > #mb,
#mainSection > #hdd
{
    background-size: cover;
}

#mainSection > a > div {
    font-size: 2em;
    font-weight: bold;
    color: white;
    width: 40%;
    background-color: rgba(0,0,0,.5);
    padding: 3px;
    text-align: center;
}

#mainSection > a:hover {
    animation-name: animacja;
    animation-duration: 2s;
}

@keyframes animacja {
    0%{background-position-x: 0px; transform: rotateY(0deg);}
    50%{background-position-x: -100px; transform: rotateY(45deg);}
    100%{background-position-x: 0px; transform: rotateY(0deg);}
}